#hero-container {
    /* position: absolute; */
    /* top: 23vw; */
    z-index: 2;
    padding: 1.5em;
    margin-top: -370px;
    
    display: flex;
    flex-direction: column;
    width: 99vw;
    max-width: 1500px;
    height: 100%;
    align-items: center;
}

#hero-section1 {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    background: transparent;
    justify-content: space-between;
    width: 100%;
}

#hero-section1>li {
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 430px;
    background-color: rgb(255, 255, 255);
}

#hero-cards1 {
    display: flex;
    flex-direction: column;
}

#hero-cards1-heading,
#hero-cards2-heading,
#hero-cards3-heading {
    font-weight: 600;
    font-size: 1em;
}

#hero-cards1-img {
    padding-top: 5%;
    padding-bottom: 7%;
    display: flex;
    justify-content: center;
    width: 100%;
}

#hero-cards1-img > img {
    overflow: hidden;
}

#hero-cards1-link {
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 400;
    color: rgb(9, 93, 141);
}

#hero-cards2-container,
#hero-cards3-container {
    width: 100%;
    height: 100%;
}

#hero-cards2-main-content,
#hero-cards3-main-content {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    width: 100%;
    height: 95%;
    /* flex-wrap: wrap; */
}

#hero-cards2-main-content>li,
#hero-cards3-main-content>li {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0.45em;
    width: 143px;
    height: 160px;
}
.hero-cards-line{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
}
.hero-cards2-img-container {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
}
.hero-cards4-container{
    display: flex;
    flex-direction: column;
}
#hero-cards4-main-content{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    height: 95%;
}
.hero-cards4-img-container {
    height: 70%;
    width: 100%;
}

.hero-cards2-img-container>img {
    background-color: #ffffff;
    width: 70%;
    min-width: 50px;
    height: 100%;
    object-fit: contain;
}
.hero-cards3-img-container {
    height: 70%;
    width: 100%;
}
.hero-cards3-line2-imgs{
    margin-top: 2vh;
}
.hero-cards3-imgs{
    margin-bottom: 1.5vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.hero-cards3-img-container>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#hero-cards2-text1,
#hero-cards2-text2,
#hero-cards2-text3,
#hero-cards2-text4,
#hero-cards3-text1,
#hero-cards3-text2,
#hero-cards3-text3,
#hero-cards3-text4 {
    font-size: 0.7em;
    font-weight: 400;
    color: rgb(9, 93, 141);
}

#hero-section2 {
    padding: 16px;
    font-weight: 600;
    font-size: 1.5em;
    font-size: 1.2rem;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50vw;
    max-height: 218px ;
    overflow: hidden;
    /* align-content: center; */
}

#hero-section2>ul,
#hero-section3>ul {
    padding-left: 1vw;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    list-style-type: none;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    /* width: 700%; */
    max-width: 1350px;
    height: 50%;
    max-height: 200px;
}
#hero-section2,#hero-section3 {
    position: relative;
    overflow: hidden;
    padding: 16px;
    padding-top: 50px;
    margin-top: 5vw;
    /* margin-top: ; */
    font-weight: 600;
    font-size: 1.5em;
    background-color: transparent;
    width: 100%;
    min-height: 250px;
}
#hero-section3 {
    margin-top: 0px;
    min-height: 150px;
}

.hero-section-left-button {
    z-index: 2;
    top: 10vh;
    position: relative;
    left: 0;
    background-color: transparent;
    border: none;
    font-size: 0.8em;
    cursor: pointer;
}

.hero-section-right-button {
    z-index: 2;
    position: absolute;
    top: 10vh;
    background-color: transparent;
    border: none;
    font-size: 0.8em;
    cursor: pointer;
}

#hero-section2-carousel>li,
#hero-section3-carousel>li {
    display: flex;
    margin-left: 15px;
    flex-direction: row;
    object-fit: contain;
}


.hero-section2-carousel-elements>img,
.hero-section3-carousel-elements>img {
    object-fit: contain;
    width: 20vw;
    max-width:180px;
    height: 100%;
}

#hero-section4 {
    margin-top: 30px;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    background: transparent;
    justify-content: space-between;
    width: 100%;
}
#hero-section4>li {
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 430px;
    background-color: rgb(255, 255, 255);
}

.test{
    align-self: center;
    width: 90%;
    background-color: grey;
    border-radius: 15px;
    height: 20vh;
}
.add-cart{
    background-color: mediumaquamarine;
    cursor: pointer;
}

@media (max-width: 1440px) {
    #hero-container {
        margin-top: -356px;
    }
    
    
}
@media (max-width: 1392px) {
    #hero-section2>ul li:nth-child(1),
    #hero-section3>ul li:nth-child(1) {
        padding-left: 5vw;
    }
}
@media (max-width: 1024px) {
    #hero-section1>li {
        width: 30%;
        height: 35vh;
    }
    #hero-container {
        margin-top: -250px;
    }
    #hero-cards4-container{
        display: none !important;
    }
    #hero-cards4-container * {
        display: none !important;
    }
    .hero-element4{
        display: none !important;
    }
    .hero-element4 *  {
        display: none !important;
    }
    #hero-section2>ul li:nth-child(1),
    #hero-section3>ul li:nth-child(1) {
        padding-left: 80vw;
    }
}
@media (max-width: 768px) {
    #hero-container {
        margin-top: -200px;
    }
    #hero-section2>ul li:nth-child(1),
    #hero-section3>ul li:nth-child(1) {
        padding-left: 110vw;
    }
}
@media (max-width: 425px) {
    #hero-section1>li {
        width: 48%;
        height: 35vh;
    }
    #hero-container {
        margin-top: -144px;
        padding:0px;
    }
    #hero-section1>li {
        height: 30vh;
    }
    #hero-cards1{
        display: none !important;
    }
    #hero-section2>ul li:nth-child(1),
    #hero-section3>ul li:nth-child(1) {
        padding-left: 100vw;
        padding-left: 120vw;
    }
}
@media (max-width: 375px) {
    #hero-container {
        margin-top: -144px;
    }
    #hero-section2>ul li:nth-child(1),
    #hero-section3>ul li:nth-child(1) {
        padding-left: 120vw;
    }
}

@media (max-width: 320px) {
    #hero-container {
        margin-top: -145px;
    }
    #hero-section2>ul li:nth-child(1),
    #hero-section3>ul li:nth-child(1) {
        padding-left: 80vw;
    }
    
}